name: build and publish docker image

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
      image_version:
        type: string
        required: true

jobs:
  build-docker-image:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        if: github.ref_name == 'main' || (github.event_name == 'release' && github.event.action == 'published')

      - name: build and push docker image
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64
          push: ${{ github.ref_name == 'main' || (github.event_name == 'release' && github.event.action == 'published') }}
          file: package/Dockerfile
          tags: ${{ vars.IMAGE_REF }}:${{ inputs.image_version }}
          build-args: |
            version=${{ inputs.version }}
